MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-host>/vms"
AUTH_SECRET="replace-with-at-least-32-random-characters"
MEDIAMTX_API_URL="http://localhost:9997"
NEXT_PUBLIC_MEDIAMTX_HLS_URL="http://localhost:8888"
NEXT_PUBLIC_MEDIAMTX_WEBRTC_URL="http://localhost:8889"
MEDIAMTX_API_USERNAME=""
MEDIAMTX_API_PASSWORD=""
FFMPEG_PATH="ffmpeg"
RECORDINGS_PATH="./recordings"
NEXT_PUBLIC_APP_NAME="Sentinel VMS"
SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD="ChangeMe123!"
